usar um unico for

trocar text por summary

listas todas juntas fora do for

artigos sem imagem causam problemas

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import wikipedia
from textblob import TextBlob, Word, Blobber
from textblob.taggers import NLTKTagger

Wikipedia documentation: https://wikipedia.readthedocs.io/en/latest/quickstart.html

TextBlobo documentation: https://textblob.readthedocs.io/en/dev/

The function receives the url an get the information and transform it in a dataframe with name link of the article as collumns

The first lines are to transform the information in two different classes in the page in a unique list
The last lines are to separate the information (name and link of article) in two lists, make a dictionary and transform in a pandas dataframe

In [4]:
def page_scrapper(url):
    """Receive the wikipedia project url and returns a dataframe with name, link, summary, photo link and
    tags from the summary's text."""  
    response = requests.get(url)
    html_soup = BeautifulSoup(response.text, 'html.parser')
    """The table has two classes, so the list need to be sum."""
    name_containers_even = html_soup.find_all('tr', class_ = 'list-even')
    name_containers_odd = html_soup.find_all('tr', class_ = 'list-odd')
    name_containers = name_containers_even + name_containers_odd
    
    """Grab name and link from the page's table."""
    name_list = []
    link_list = []

    for item in name_containers:
        name = item.a.text
        name_list.append(name)
    
        link = item.a['href']
        link_list.append(link)
        
        """Grab the summary of the wikipedia's article from the name."""
        summary_list=[]
    
        for name in name_list:
            text = wikipedia.summary(name)
            summary_list.append(text)
            
        """Grab the photo link of the wikipedia's article from the name."""
        photo_list=[]
    
        for name in name_list:
            
            photo = wikipedia.page(name).images[0]
            photo_list.append(photo)
            
            """Grab the tags of the wikipedia's article from the summary."""
            tags_list=[]
            
            for summary in summary_list:
                tags = TextBlob(summary).noun_phrases
                tags_list.append(tags)
            
                
    """Grab the lists and tranform in a dataframe."""
    dataframe = pd.DataFrame({'name:': name_list,
                  'link:': link_list, 'summary': summary_list, 'photo': photo_list, 'tags': tags_list})

    return dataframe

In [5]:
test = [6]
if test:
    print('bla')

bla

##### Create the URL

In [6]:
"""Include the information about the project and page that will be used."""
offset_number = 1
project_name = 'WikiProject_Women'

In [7]:
"""Create the url that will be used in the function page_scrapper."""

base = 'https://tools.wmflabs.org/enwp10/cgi-bin/list2.fcgi?run=yes'
project = f'&projecta={project_name}'
limit = '&limit=10'
offset = f'&offset={offset_number}'

url = base + project + limit + offset
print(url)

https://tools.wmflabs.org/enwp10/cgi-bin/list2.fcgi?run=yes&projecta=WikiProject_Women&limit=10&offset=1

##### Here an example of the function running

In [8]:
df = page_scrapper(url)

In [9]:
df

,name:,link:,summary,photo,tags
0,Aaliyah,https://en.wikipedia.org/w/index.php?title=Aal...,"Aaliyah Dana Haughton (; January 16, 1979 – Au...",https://upload.wikimedia.org/wikipedia/commons...,"[aaliyah dana haughton, january, august, ameri..."
1,Angelina Jolie,https://en.wikipedia.org/w/index.php?title=Ang...,Angelina Jolie ( joh-LEE; born Angelina Jolie ...,https://upload.wikimedia.org/wikipedia/commons...,"[angelina jolie, angelina jolie voight, june, ..."
2,Anna May Wong,https://en.wikipedia.org/w/index.php?title=Ann...,"Anna May Wong (born Wong Liu Tsong, January 3,...",https://upload.wikimedia.org/wikipedia/commons...,"[anna may wong, wong liu tsong, january, febru..."
3,Ayumi Hamasaki,https://en.wikipedia.org/w/index.php?title=Ayu...,"Ayumi Hamasaki (浜崎 あゆみ, Hamasaki Ayumi, born O...",https://upload.wikimedia.org/wikipedia/commons...,"[ayumi hamasaki, 浜崎 あゆみ, hamasaki ayumi, octob..."
4,Cleopatra,https://en.wikipedia.org/w/index.php?title=Cle...,Cleopatra VII Philopator (Ancient Greek: Κλεοπ...,https://upload.wikimedia.org/wikipedia/commons...,"[cleopatra vii philopator, κλεοπᾰ́τρᾱ φιλοπάτω..."
5,3 of Hearts (album),https://en.wikipedia.org/w/index.php?title=%33...,3 of Hearts is an eponymous debut studio album...,https://upload.wikimedia.org/wikipedia/commons...,"[hearts, eponymous debut studio album, america..."
6,Amy Adams,https://en.wikipedia.org/w/index.php?title=Amy...,"Amy Lou Adams (born August 20, 1974) is an Ame...",https://upload.wikimedia.org/wikipedia/commons...,"[amy lou adams, august, american actress, know..."
7,Ann Bannon,https://en.wikipedia.org/w/index.php?title=Ann...,"Ann Weldy (born September 15, 1932), better kn...",https://upload.wikimedia.org/wikipedia/commons...,"[ann weldy, september, pen name, ann bannon, a..."
8,Anne Hathaway,https://en.wikipedia.org/w/index.php?title=Ann...,"Anne Jacqueline Hathaway (born November 12, 19...",https://upload.wikimedia.org/wikipedia/commons...,"[anne jacqueline hathaway, november, american ..."
9,Catherine Zeta-Jones,https://en.wikipedia.org/w/index.php?title=Cat...,Catherine Zeta-Jones (; born 25 September 196...,https://upload.wikimedia.org/wikipedia/commons...,"[catherine zeta-jones, september, welsh actres..."

In [10]:
df.iloc[1,3]

'https://upload.wikimedia.org/wikipedia/commons/1/1d/2005_06_15_rice-jolie_600.jpg'

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
name:      10 non-null object
link:      10 non-null object
summary    10 non-null object
photo      10 non-null object
tags       10 non-null object
dtypes: object(5)
memory usage: 480.0+ bytes

In [12]:
import time

In [14]:
start = time.time()

In [15]:
end = time.time()

In [16]:
end - start

6.625591039657593